.container {
	width: 85%;
	max-width: 60rem;
	margin: 0 auto;
}

@mixin flexCenter($flexDirection) {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;

	flex-direction: $flexDirection;
}

@mixin grid($templateNumber) {
	display: grid;
	grid-template-columns: 
	repeat($templateNumber, 1fr);
	gap: 1.5rem;

	padding: 1.5rem;
	// max-width: 30rem;
	margin: 0 auto;
}

@mixin button($btnBgColor) {
	padding: 1.25rem 2.75rem;
	border: none;
	border-radius: 100px;
	background-color: $btnBgColor;
	font-size: 1rem;
	font-weight: 700;
	color: $color-white;
	transition: opacity 0.3s;
	cursor: pointer;
}
